<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="phonegapBuilder"
         name="PhoneGap Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="phonegapeclipse.builder.PhoneGapBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="phonegapNature"
         name="PhoneGap Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="phonegapeclipse.builder.PhoneGapNature">
         </run>
      </runtime>
      <builder
            id="PhoneGapEclipse.phonegapBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="PhoneGapEclipse.contribution1">
         <action
               label="Add/Remove Sample Nature"
               class="phonegapeclipse.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="PhoneGapEclipse.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="PhoneGapEclipse">
      </category>
      <wizard
            name="PhoneGap file"
            icon="icons/sample.gif"
            category="PhoneGapEclipse"
            class="phonegapeclipse.wizards.SampleNewWizard"
            id="phonegapeclipse.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
